// sidebar
$menuText:#dbe7f9; //#bfcbd9
$menuActiveText:#ffffff;//#409EFF
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951  #f4f4f5

$menuBg:#3875c5;  //菜单整体背景  #304156
$menuHover:  #2f65aa;//菜单悬浮变色 #263445

$subMenuBg:#3167b0;//子菜单背景 #1f2d3d
$subMenuHover: #2b5c9b;//子菜单悬浮背景 #001528

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
